openapi: 3.1.0
info:
  title: Invoice Ninja v5 Activities Bank Transaction Rules API
  description: 'REST API for the Invoice Ninja v5 invoicing and billing platform.

    Endpoints cover authentication, companies, gateways, charts, activities,

    bank integrations, bank transactions, bank transaction rules, and client

    gateway tokens. The full v5 API additionally exposes CRUD endpoints for

    clients, invoices, quotes, payments, products, recurring invoices,

    credits, expenses, projects, tasks, and company settings.

    Authentication is via an `X-Api-Token` header (with an optional

    `X-Api-Secret` header for self-hosted installs).

    '
  version: '5.0'
  contact:
    name: Invoice Ninja
    url: https://api-docs.invoicing.co
servers:
- url: https://invoicing.co
  description: Invoice Ninja hosted SaaS
security:
- apiToken: []
tags:
- name: Bank Transaction Rules
paths:
  /api/v1/bank_transaction_rules:
    get:
      tags:
      - Bank Transaction Rules
      summary: List bank transaction rules
      operationId: listBankTransactionRules
      responses:
        '200':
          description: Rule list
    post:
      tags:
      - Bank Transaction Rules
      summary: Create bank transaction rule
      operationId: createBankTransactionRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankTransactionRule'
      responses:
        '201':
          description: Created
  /api/v1/bank_transaction_rules/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Bank Transaction Rules
      summary: Get rule
      operationId: getBankTransactionRule
      responses:
        '200':
          description: Rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransactionRule'
    put:
      tags:
      - Bank Transaction Rules
      summary: Update rule
      operationId: updateBankTransactionRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankTransactionRule'
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Bank Transaction Rules
      summary: Delete rule
      operationId: deleteBankTransactionRule
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    BankTransactionRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        rules:
          type: array
          items:
            type: object
            properties:
              search_key:
                type: string
              operator:
                type: string
              value:
                type: string
        auto_convert:
          type: boolean
        matches_on_all:
          type: boolean
        applies_to:
          type: string
          enum:
          - CREDIT
          - DEBIT
        client_id:
          type: string
        vendor_id:
          type: string
        category_id:
          type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Api-Token
      description: 'API token created in the Invoice Ninja settings. Self-hosted installs

        may additionally require an `X-Api-Secret` header.

        '
