openapi: 3.1.0
info:
  title: Invoice Ninja v5 Activities API
  description: 'REST API for the Invoice Ninja v5 invoicing and billing platform.

    Endpoints cover authentication, companies, gateways, charts, activities,

    bank integrations, bank transactions, bank transaction rules, and client

    gateway tokens. The full v5 API additionally exposes CRUD endpoints for

    clients, invoices, quotes, payments, products, recurring invoices,

    credits, expenses, projects, tasks, and company settings.

    Authentication is via an `X-Api-Token` header (with an optional

    `X-Api-Secret` header for self-hosted installs).

    '
  version: '5.0'
  contact:
    name: Invoice Ninja
    url: https://api-docs.invoicing.co
servers:
- url: https://invoicing.co
  description: Invoice Ninja hosted SaaS
security:
- apiToken: []
tags:
- name: Activities
paths:
  /api/v1/activities:
    get:
      tags:
      - Activities
      summary: List activities
      operationId: listActivities
      responses:
        '200':
          description: Activity list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'
  /api/v1/activities/download_entity/{activity_id}:
    parameters:
    - name: activity_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Activities
      summary: Download activity entity PDF
      operationId: downloadActivityEntity
      responses:
        '200':
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /api/v1/activities/entity:
    post:
      tags:
      - Activities
      summary: Get entity activities
      operationId: getEntityActivity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity:
                  type: string
                entity_id:
                  type: string
      responses:
        '200':
          description: Activity list
components:
  schemas:
    ActivityList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Activity'
    Activity:
      type: object
      properties:
        id:
          type: string
        activity_type_id:
          type: string
        client_id:
          type: string
        user_id:
          type: string
        invoice_id:
          type: string
        payment_id:
          type: string
        notes:
          type: string
        created_at:
          type: integer
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Api-Token
      description: 'API token created in the Invoice Ninja settings. Self-hosted installs

        may additionally require an `X-Api-Secret` header.

        '
