openapi: 3.1.0
info:
  title: Invoice Ninja v5 Activities Charts API
  description: 'REST API for the Invoice Ninja v5 invoicing and billing platform.

    Endpoints cover authentication, companies, gateways, charts, activities,

    bank integrations, bank transactions, bank transaction rules, and client

    gateway tokens. The full v5 API additionally exposes CRUD endpoints for

    clients, invoices, quotes, payments, products, recurring invoices,

    credits, expenses, projects, tasks, and company settings.

    Authentication is via an `X-Api-Token` header (with an optional

    `X-Api-Secret` header for self-hosted installs).

    '
  version: '5.0'
  contact:
    name: Invoice Ninja
    url: https://api-docs.invoicing.co
servers:
- url: https://invoicing.co
  description: Invoice Ninja hosted SaaS
security:
- apiToken: []
tags:
- name: Charts
paths:
  /api/v1/charts/totals:
    post:
      tags:
      - Charts
      summary: Get chart totals
      operationId: getChartTotals
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Chart totals
  /api/v1/charts/totals_v2:
    post:
      tags:
      - Charts
      summary: Get chart totals (v2)
      operationId: getChartTotalsV2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Chart totals v2
  /api/v1/charts/chart_summary_v2:
    post:
      tags:
      - Charts
      summary: Get chart summary (v2)
      operationId: getChartSummaryV2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Chart summary
  /api/v1/charts/calculated_fields:
    post:
      tags:
      - Charts
      summary: Get chart calculated fields
      operationId: getChartCalculatedFields
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Calculated fields
components:
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Api-Token
      description: 'API token created in the Invoice Ninja settings. Self-hosted installs

        may additionally require an `X-Api-Secret` header.

        '
