openapi: 3.2.0
info:
  title: Invoice Ninja v5 Authentication API
  description: REST API for the Invoice Ninja v5 invoicing and billing platform.
  version: '5.0'
  contact:
    name: Invoice Ninja
    url: https://api-docs.invoicing.co
servers:
- url: https://invoicing.co
  description: Invoice Ninja hosted SaaS
security:
- apiToken: []
tags:
- name: Authentication
paths:
  /api/v1/login:
    post:
      tags:
      - Authentication
      summary: Login
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Authenticated user with tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh data
      description: Refresh data by timestamp.
      operationId: refresh
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                updated_at:
                  type: integer
      responses:
        '200':
          description: Refreshed payload
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties: true
  responses:
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Api-Token
      description: 'API token created in the Invoice Ninja settings. Self-hosted installs

        may additionally require an `X-Api-Secret` header.

        '
